{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.home'|trans }}
{% endblock %}

{% block body %}
    <div>
        <h1>{{ 'title.advertising_service'|trans }}</h1>
        <p>{{ 'title.welcome_message'|trans }}</p>
    </div>
{% endblock %}
